/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url('img/fondo.png');
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.offcanvas-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.offcanvas-title {
    margin: 0;
}

.dropdown-menu {
    padding: 10px;
}

.custom-range {
    width: 100%;
}

.text-center {
    text-align: center;
}

.message_input {
    display: flex;
    margin-top: 20px;
}

.form-control {
    flex-grow: 1;
    margin-right: 10px;
}

#send_button {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
}

p {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.custom-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.logo {
    position: absolute;
    top: 0;
    right: 0.5%;
    width: 5%;
    /* ajusta el tamaño según tus necesidades */
    height: auto;
    /* ajusta el tamaño según tus necesidades */
    cursor: pointer;
}
.oculto {
    display: none;
}

#cuadroParticipantes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#listaParticipantes {
    list-style: none;
    padding: 0;
    margin: 0;
}